/datas/adduct_to_convert.xlsx
/scripts/build/
/scripts/FragHub.spec
/scripts/dist/FragHub/
/scripts/dist/FragHub.zip
/scripts/dist/build/
/scripts/dist/dist/

# Kedro
data/
logs/
.kedro/
*.egg-info/
__pycache__/
*.pyc
.pytest_cache/
.coverage
